# Python 기초
## 111
### 222
#### 333
#### 444
- 1 1 1 <br>
- 2 22 
-3 3 3

In [4]:
# 덧셈
1 + 2

3

In [5]:
# 곱셈 
2*3

6

In [6]:
#뺄셈
5 - 2

3

In [7]:
# 실수 나눗셈
3 / 2

1.5

In [8]:
# 정수 나눗셈의 나머지
5 % 2

1

In [10]:
# 정수 나눗셈의 몫
5 // 2

2

<hr>

# 변수에 대입하여 계산하기

In [12]:
#변수에 정수를 할당하여 계산하기

var_1 = 2.5
var_2 = 5
var_1 + var_2

7.5

In [15]:
# 동일한 변수에 문자열을 할당하여 출력하기

var_1 = 'python'
var_1

'python'

### 변수의 자료형은 데이터형을 유추하여 자료형이 변경된다.
<hr>

# 조건문

In [19]:
var_1 = 3 # 이때 var_1 은 나는 정수다! 라고 알고 있음

if var_1 > 1: #var_1이 1보다 크면
    print('var_1 is greater than 1')

var_1 is greater than 1

In [20]:
var_1 = 4
var_2 = 3

if var_1 > var_2:
    print('var_1 is greater than var_2')

var_1 is greater than var_2

---

# 반복문

In [27]:
for i in [10, 20, 30] :# int대신 i / in뒤에는 data
    print(i)

10
20
30

In [29]:
data = [10, 20, 30]
for i in data:
    print(i)

10
20
30

In [28]:
i = 0
while i < 30:
    i+= 10
    print(i)
    # 스위프트와 파이썬에는 ++ 또는 -- 가 없다.

10
20
30

---

# 함수

In [30]:
def sumF(var01, var02):
    return var01 + var02

In [31]:
sumF(10,20)

30

In [32]:
sumF('a','b') # 숫자나 문자가 들어와도 상관없다

'ab'

In [34]:
sumF(10.2, 100)

110.2

In [36]:
'a'*'b' #문자끼리는 곱할 수 없다.

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
sumF(,2) #null 값 에러

SyntaxError: invalid syntax (<ipython-input-37-08a577ef79d1>, line 1)

---