# --- 변수와 자료형 ---

## 변수
계산에 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억자소를 지정해 주는 역할<br>
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당 . #space 3번이면 한줄 띄기

## 변수 이름의 작성 규칙
- 첫자는 영문으로 시작.   
- 첫자를 제회하고 숫자, under bar, dot을 사용할 수 있음   
- 대문자와 소문자를 구분.   
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋음.
- 두 단어를 포함한 변수 이름을 지정할 경우 두번째 단어의 첫자는 대문자로 표시(camel methid)나 under bar(snake method)로 표시하는 것이 가독성에 좋음.

# 자료형

## 숫자 자료형

In [1]:
# 정수형

var01 = 123
var03 = -17
var01 = 0

print(var01) #파이썬에서 출력하기
var01 # 주피터 노트북이 해주는 기능

0

0

In [2]:
# 실수형

var02 = 1.2
var02 = -12.34

var02

-12.34

In [3]:
# 연산자

var01 = 3
var02 = 4
print('덧셈: ', var01 + var02)
print('뺄셈: ', var01 - var02)
print('곱셈: ', var01 * var02)
print('실수나눗셈: ', var01 / var02)
print('정수 나눗셈 몫: ', var01 // var02)
print('정수 나눗셈 나머지: ', var01 % var02)
print('제곱: ', var01**2)
print('제곱: ', pow(var01, 2)) #파이썬에서 제공하는 함수 기능

덧셈:  7
뺄셈:  -1
곱셈:  12
실수나눗셈:  0.75
정수 나눗셈 몫:  0
정수 나눗셈 나머지:  3
제곱:  9
제곱:  9

## 파이썬 모듈을 이용한 수학계산

In [4]:
# 수학계산 모듈 불러오기
import math

In [5]:
#거듭제곱
math.pow(var01, 2) #기본적으로 실수로 출력

9.0

In [6]:
# 제곱근 구하기
math.sqrt(var01)

1.7320508075688772

In [7]:
#sin(45)
math.sin(45)

0.8509035245341184

In [8]:
#sin(45)의 제곱 + con(45)제곱

math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

# 난수 발생

In [4]:
import random

In [10]:
random.randint(1, 100) #정수형 인수

6

In [11]:
rlist = [1, 2, 3, 4, 5]
random.sample(rlist, 3)

[2, 3, 5]

In [12]:
alist = range(1, 101) # 1부터 100까지 내가 다 적을 수 없으니까
for i in alist:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
#로또 자동번호 생성기
alist = range(1, 46)

random.sample(alist, 6)

[13, 15, 20, 7, 5, 28]

In [14]:
mlist = [ '한식', '일식', '중식', '양식', '분식']
random.sample(mlist, 1)

['양식']

In [15]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_13',
 '_14',
 '_2',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'alist',
 'exit',
 'get_ipython',
 'i',
 'math',
 'mlist',
 'quit',
 'random',
 'rlist',
 'var01',
 'var02',
 'var03']

In [18]:
#메모리에 있는 변수 지우기
del var01
var01

NameError: name 'var01' is not defined

# 관계연산자

In [19]:
num1 = 100
num2 = 20

In [21]:
#동등비교
print(num1 == num2)
print(num1 != num2)

False
True

In [25]:
# 크기비교
print(num1 > num2)
print(num1 < num2)
print(num1 >- num2)
print(num1 <= num2)

#둘다 변수로만 작성하면 맨끝결과만 보이게된다.

True
False
True
False

# 논리연산자

In [28]:
# And , or
print ((num1 >= 50) & (num2 <= 10))
print ((num1 >= 50) | (num2 <= 10))

False
True

In [30]:
# 부정 연산자

#num1 >= 50  # 이 값의 반대 값을 원할 때

not(num1 >= 50)

False

# 문자열 자료형

In [37]:
var01 = "Hello World!"
var01

'Hello World!'

In [40]:
# 여러줄의 문자열 출력

var01 = """
        Hello World!
        Good to meet you
"""
print(var01) # var01만 쓰게되면 \n 이런거 다 나옴

        Hello World!
        Good to meet you

In [46]:
# 쌍따옴표와 홑따옴표의 사용

var01 = "쌍따옴표는 '이렇게' 사용하는거야"
print(var01)
var02 = "My father's wife is my mother"
print(var02)
var03 = 'He says "I love you"'
print(var03)

쌍따옴표는 '이렇게' 사용하는거야
My father's wife is my mother
He says "I love you"

In [48]:
# 특수문자를 사용한 출력
var03 = 'aaa\nbbb'
var04 = 'aaa\tbbb'

print(var03)
print(var04)

aaa
bbb
aaa	bbb

In [52]:
# 문자열 연산(덧셈)
var01 = 'Python'
var02 = 'is fun.'
print(var01 + var02)
print(var01, var02) # 문자열 띄어쓰기

Pythonis fun.
Python is fun.

In [53]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

==========================   
Python   
==========================

In [54]:
print("=" * 20)
print('Python')
print('=' * 20)

====================
Python
====================

In [64]:
# 문자열 index과 Slicing
str = "abcdefghijklmn"

print(str[0])
print(str[0:3])
print(str[-1])# 맨 뒤에 있는 아이
print(str[5:])
print(str[:5])
print(str[5:-2])
#fghijkl <- [_:-_]

a
abc
n
fghijklmn
abcde
fghijkl

In [70]:
str = '20211231'

#2021-12-31
print(str[0:4]+ '-' + str[4:6]+ '-' + str[-2:])
print(str[0:4]+ '-' + str[4:-2] + '-' + str[-2:])

2021-12-31
2021-12-31

In [76]:
# 202C1231
# str[3] = 'C' 문자열 데이터는 변경시킬 수 없다.
print(str[0:3] + 'C' + str[4:])

202C1231

---




# 문자열 관련 함수

In [83]:
# 문자 Count
str = "I have a dream."
print(str.count('dream'))
print(len(str)) # 전체 길이

1
15

In [90]:
# 문자 위치 알려주기

print(str.find('e'))
print(str.find('x'))  # 대소문자도 구분한다.

5
-1

In [91]:
# 문자열 삽입

str = ','
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [93]:
# 소문자를 대문자로 변경
str = 'hi'
str.upper()
'hi'.upper()

'HI'

In [94]:
# 대문자를 소문자로

str = "HI"
str.lower()

'hi'

In [96]:
# 왼쪽 공백 지우기

str = '             hi'
str.lstrip()

'hi'

In [97]:
# 오른쪽 공백 지우기

str = 'hi       '
str.rstrip()

'hi'

In [99]:
#양쪽 공백 지우기
str ='         hi.        '
str.strip()

'hi.'

In [106]:
# 문자열바꾸기

str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [107]:
# 문자열 나누기

str

'Life is too short to be happy.'

In [115]:
list01 = str.split()
print(type(list01)) # = 어레이 리스트랑 같은 거
print(list01)

<class 'list'>
['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [117]:
str01 = '2021-12-31'
str01.split('-')
print(type(str01)) # String
print(str01.split('-')[0] +list01[0])

<class 'str'>
2021Life

---
# 날짜형 변환

In [118]:
from datetime import datetime, timedelta # 날짜형 모듈 불러오기

In [150]:
time1 = datetime(2021, 12, 31, 12, 0, 0, 0)
print(type(time1))
print(time1)

<class 'datetime.datetime'>
2021-12-31 12:00:00

In [151]:
#날짜 계산하기
time2 = datetime.now()
print((time1 - time2))

174 days, 21:05:02.918170

In [152]:
#좀 더 편리하게 출력

print('두 날짜의 차이는')
print((time1 - time2).days, '일')

두 날짜의 차이는
174 일

In [160]:
# 특정 날짜로 부터 시간 계산
print('현재 시간부터 5일 뒤')
print(time2 + timedelta(days = 5))
print('현재 시간부터 5일 전')
print(time2 + timedelta(days = -5))

#현재 시간부터 1일뒤의 2시간 전
print(datetime.now() + timedelta(days = 1, hours = -2))

현재 시간부터 5일 뒤
2021-07-14 14:54:57.081830
현재 시간부터 5일 전
2021-07-04 14:54:57.081830
2021-07-10 12:58:37.029082