# 리스트 ( list = 배열) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- format : listName = [e1, e2, ...]

## 리스트 자료형 선언

In [4]:
var01 = []
var02 = [1,2,3]
var03 = ['I', "have", 'a', 'dream']
var04 = [1, 2, 'dream', 'True']
var05 = [1, 2, ['Dream', "True"]] # 이차원 배열

# 리스트의 indexing과 Slicing

In [11]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2])
print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'drea']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'True']]
['Dream', 'True']
Dream

In [12]:
# 리스트의 계산
var02[0] + var02[1]

3

In [21]:
# 3중 리스트에서 indexing 에서 Dream만 출력하기
var = [1, 2, ['a', 'b', ['Dream', "True"]]]

print(var[2][2][0])
print(var[-1][-1][-2])
print(var[-1][-1][0])

Dream
Dream
Dream

In [23]:
print(var[2:])

[['a', 'b', ['Dream', 'True']]]
a

# 리스트 연산

In [37]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [29]:
#리스트의 덧셈
for i in range(0, 3):
    print(var01[i] + var02 [i])
for i in range(0, 3):
    print(var01[i] - var02[i])
for i in range(0, 3):
    print(var02[i] - var01[i])

5
7
9
-3
-3
-3
3
3
3

In [43]:
# 리스트의 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
# 리스트의 곱셈
# var01의 data를 10 배 계산하여 출력하기
#10
#20
#30
print(var01)
for i in var01:
    print(var01[i-1] * 10)

[1, 2, 3]
10
20
30

In [57]:
# 리스트의 타입 변환
var = [1, 2, 3]
print(str(var[2]) + "hi!")

3hi!

In [59]:
temp = '123'
type(temp)
print(type(temp))
temp1 = int(temp)
type(temp1)
print(type(temp1))

<class 'str'>
<class 'int'>

# 리스트의 수정과 삭제

In [80]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [81]:
var[1:2] = ['a', 'b', 'c']
var

[1, 'a', 'b', 'c', 4]

In [ ]:
#### 1 ~ 2 번지의 데이터를 지우기
del var[1:3] # == var[1:3] = []
var

In [83]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [85]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [97]:
# 리스트의 정렬
var = [1,4,3,2]
print(var)

# 오름차순
var.sort()
print(var)

#내림차순
var.reverse()
print(var)

print(max(var))
print(min(var))

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
4
1

# 리스트의 문자 정렬 : 한글
var = ['대', '한', '민', '국']

print(var)
#오름차순 정렬
var.sort()
print(var)
# 내림차순 정렬
var.reverse()
print(var)

In [100]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5) # 5번지가 아니라 5라는data가 몇번지에 있는지 찾는

1

In [101]:
#리스트의 요소 삽입
var = [1,2,3]
var.insert(0, 4)
var

#append는 뒤에 붙는 것. 인서트는 원하는 위치에

[4, 1, 2, 3]

In [102]:
# 리스트에 요소 제거
var = [1,2,3,4,5,6]
# 데이터 (요소)가 4인 것을 제거
var.remove(4)
var

[1, 2, 3, 5, 6]

In [109]:
# 리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop())
print(var)
print(var.pop())
print(var)

3
[1, 2]
2
[1]

In [110]:
# for문을 사용한 pop
var = [1,2,3]

for i in range(0, 3):
    print(var.pop())
    
print(var)

3
2
1
[]

In [114]:
# 리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var.extend(var1)
var

[1, 2, 3, 4, 5, 6]