# range 함수
range (시작숫자, 끝숫자, 증가값)

In [1]:
var = range(1,11)
var

range(1, 11)

In [2]:
# range의 범위를 list로 출력

list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10 , 0 , -2))

[10, 8, 6, 4, 2]

In [5]:
# 범위 이상해도 에러안나고 그냥 아무것도 안나옴
list(range(0, 10, -2))

[]

In [13]:
var[9]

10

In [14]:
type(var)

range



### for문에 range함수 사용하기

In [16]:
for i in range(1, 11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
# 1부터 10 까지의 수 중 홀수 만 출력하기
for i in range(1, 11, 2): # 데이터를 홀수만 주면 된다.
    print(i)

1
3
5
7
9

In [25]:
# 구구단 9단 출력
var = 2
range(1, 10)
for var in range(2, 10):
    for i in range(1,10):
        print(var, "X", i, '=', '%2d' %(var*i))
    print('=================')
    var += 1

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
=================
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
=================
4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
=================
5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
=================
6 X 1 =  6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
=================
7 X 1 =  7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
=================
8 X 1 =  8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
=================
9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
=================

In [27]:
print('aaa', end = '   ')
print('bbb')

aaa   bbb

In [34]:
# 구구단 결과만 출력하기
var = 2
range(1, 10)
for var in range(2, 10):
    for i in range(1,10):
        print((var*i), end = '    ')
    print()
    var += 1

2    4    6    8    10    12    14    16    18
3    6    9    12    15    18    21    24    27
4    8    12    16    20    24    28    32    36
5    10    15    20    25    30    35    40    45
6    12    18    24    30    36    42    48    54
7    14    21    28    35    42    49    56    63
8    16    24    32    40    48    56    64    72
9    18    27    36    45    54    63    72    81

In [35]:
# 평균구하기
scores  = [78, 85, 95, 65]

total = 0
for score in scores:
    total += score
    
print(total / len(scores))

80.75

# for문에  Tuple사용하기

In [36]:
var = [(1,2), (3,4), (5,6)]


for first, last in var:
    print (first, ":", last)

1 : 2
3 : 4
5 : 6

In [37]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print (sum1)

21

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고,

그렇지 않으면 불합격이다.   
합격, 불합격 보여주기

In [61]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
#     print(scores[number])
    if scores[number] > 60:
        print("%d의 학생은 점수가 %d 이므로 합격입니다." % (number+1), scroe)
#         print("합격")
    else:
        print("%d의 학생은 불합격입니다." % (number+1))
#         print("불합격")

TypeError: not enough arguments for format string

In [72]:
scores = [90, 25, 67, 45, 80]
number = 1


for score in range(len(scores)):
    score = scores[numer]
    if scores[number] > 60:
        print("%d의 학생은 점수가 %d이므로 합격입니다" %(number, score))
    else:
        print("%d의 학생은 점수가 %d이므로 불합격입니다" %(number, score))
    number += 1

NameError: name 'numer' is not defined

In [73]:
# 학생들 점수의 평균을 구하여 평균점수 기준으로 합격, 불합격 보여주기

scores = [90, 25, 67, 45, 80]

nember = 1
avg =0.0
total = 0

In [74]:
import  numpy as np
np.mean(scores)

61.4

In [75]:
np.sum(scores)

307

In [91]:
var01 = [1,2,3,4]
var02 = []

for i in var01:
    print(i)
    var02.append(i * 5)
    
print(var02)
print(var01)

1
2
3
4
[5, 10, 15, 20]
[1, 2, 3, 4]

## 파이썬의  listed for문

In [80]:
var01 = [1,2,3,4]
var02 = []

var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [90]:
# 위의 소스에서  짝수인 경우에만 5를 곱하는 리스트를 만들기

var01 = [1,2,3,4]
var02 =[]


var02 = [i * 5 for i in var01 if i %2 == 0]
var02

[10, 20]

In [111]:
## 구구단 결과만 리스트로 만들기 (2단-9단)
result = [i * j for i in range (2, 10) for j in range (1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [115]:
# 60점 이상의 학생점수만 List로 만들어 평균구하기

scores = [90, 25, 67, 45, 80]
passList = [ i for i in scores if i >= 60]

passList

import numpy as np

print("합격한 학생들의 평균점수는 %.2f 입니다"%np.mean(passList))

합격한 학생들의 평균점수는 79.00 입니다